.product-container {
  display: flex;
  gap: 50px;
}

.product-details-image-set {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.product-details-image-set .main-image {
  border: 1px solid rgba(0, 0, 0, 0.3);
  height: 500px;
  width: 500px;
  object-fit: contain;
  border-radius: 30px;
}

.product-details-image-set .other-images {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-details-image-set .other-images .thumbnail {
  height: 60px;
  width: 60px;
  object-fit: contain;
  cursor: pointer;
}

.product-details-image-set .other-images .selected-thumbnail {
  border: 1px solid #007bff;
}

.product-details-image-set .product-details-center-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.product-details-image-set .product-details-center-section .product-buttons {
  display: flex;
  gap: 20px;
}

.product-details-center-section .product-buttons .cart-btn {
  height: 40px;
  width: 200px;
  background-color: #f59e0b;
  /* background-color: #007bff; */
  color: #fff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.product-details-center-section .product-buttons .cart-btn:hover {
  background-color: #fbbf24;
  /* background-color: #0056b3; */
  cursor: pointer;
}

.product-details-center-section .product-buttons .buy-btn {
  /* padding: 10px 20px; */
  height: 40px;
  width: 200px;
  background-color: #f59e0b;
  /* background-color: #007bff; */
  color: #fff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.product-details-center-section .product-buttons .buy-btn:hover {
  background-color: #fbbf24;
  /* background-color: #0056b3; */
  cursor: pointer;
}

.product-container .product-details .price-details {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-container .product-details .price-details .discounted-price {
  font-weight: 700;
}

.product-container .product-details .price-details .original-price {
  text-decoration: line-through;
  color: #666666;
  font-weight: 500;
}

.product-container .product-details .price-details .discount {
  color: #28a745;
  font-weight: 500;
}

.product-container .product-details-key-features .product-key-features {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-details .product-key-features li {
  font-weight: 600;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 15px;
}

.product-details .product-key-features li .product-specification {
  color: #36454f;
  font-weight: 400;
}

.price-details li {
  background-color: red;
  color: yellow;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, /* 1 = filled, 0 = outline */ "wght" 200,
    /* thickness */ "GRAD" 0, /* grade (boldness adjustment) */ "opsz" 30; /* optical size */
  font-size: 30px;
  color: #36454f;
  background-color: #f5f5f5;
  padding: 5px;
  border-radius: 10px;
  border: none;
}

.material-symbols-outlined:hover {
  background-color: #007bff;
  color: white;
}

@media (max-width: 1024px) {
  .product-container .product-details h1 {
    text-align: left;
  }

  .product-container .product-details .price-details {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 10px;
  }

  .product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .product-details-image-set {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 10px;
  }
  .product-details-image-set .other-images {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}

@media (max-width: 768px) {
  .product-details-image-set .main-image {
    /* border: 1px solid rgba(0, 0, 0, 0.3); */
    height: 350px;
    width: 350px;
    /* object-fit: contain; */
    /* border-radius: 30px; */
    /* padding-inline: 30px; */
  }

  .product-details-image-set .other-images {
    /* display: flex;
    flex-direction: row;
    gap: 10px; */
    padding-inline: 30px;
  }
}

@media (max-width: 480px) {
  .product-details-image-set .main-image {
    border: 1px solid rgba(0, 0, 0, 0.3);
    height: 300px;
    width: 300px;
    object-fit: contain;
    border-radius: 30px;
  }
  .product-details-image-set .product-details-center-section .product-buttons {
    display: flex;
    gap: 5px;
  }

  .product-details-center-section .product-buttons .cart-btn {
    height: 40px;
    width: 150px;
    background-color: #f59e0b;
    color: #fff;
    font-size: 12px;
  }

  .product-details-center-section .product-buttons .buy-btn {
    height: 40px;
    width: 150px;
    background-color: #f59e0b;
    color: #fff;
    font-size: 12px;
  }

  .product-container .product-details h1 {
    text-align: center;
    font-size: 25px;
  }

  .product-container .product-details .price-details .discounted-price {
    font-size: 20px;
  }
  .product-container .product-details .price-details .original-price {
    font-size: 15px;
  }

  .product-container .product-details .price-details .discount {
    font-size: 20px;
  }
}

@media (max-width: 420px) {
  /* .product-details-image-set .main-image {
    height: 200px;
    width: 200px;
  } */
  .product-details-image-set .other-images .thumbnail {
    height: 45px;
    width: 45px;
  }
}
